{{inject "products" category.products}}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<form class="remove-all-from-cart">
	<input id="remove-all-from-cart"class="button button--primary form-prefixPostfix-button--postfix" value="Remove All Items from Cart" type="button">
</form>


<script>

	var jsContext = JSON.parse({{jsContext}});
	console.log(jsContext);
	
	// when #addToCart is clicked...
	$("input#remove-all-from-cart").click(function() {
		
		//using JS Template Context Injection to grab cartId
		var jsContext = JSON.parse({{jsContext}});
		console.log(jsContext.cartId);
		var cartId = jsContext.cartId;
		url = "https://obundle-project-store.mybigcommerce.com/api/storefront/carts/" + cartId;

		//delete cart for customer
		fetch(url,{
			method:'DELETE'
		});
		// go to cart
		window.location = "/cart.php";
	});
</script>

